__pycache__/
*.py[cod]
*$py.class
*.so
.Python

.venv/
venv/
env/
ENV/


*.build/
*.dist/
*.onefile-build/
semantica.exe
*.exe
*.bin

build/
dist/
develop-eggs/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.npy
*.index
data/
cache/
tmp/
temp/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

*.log

semantica